@{ var pokemon = (Reg_Pokemon)Model; }



<h1>Editar Cuenta</h1>


<form action="/account/edit" method="post">

    <input type="hidden" name="Id" value="@pokemon.Id" />
    <input type="hidden" name="Imagen" value="@pokemon.Imagen" />
    @Html.ValidationMessage("Imagen")


    <div class="form-group">
        <label>Nombre</label>
        <input class="form-control" name="Nombre" value="@pokemon.Nombre" />
        @Html.ValidationMessage("Nombre")
        @Html.ValidationMessage("Name2")
    </div>

    <div class="from-group">
        <label>Tipo</label>
        <select class="form-control" name="Tipo">
            <option value="">-- Selecciona una opción --</option>
            <option value="Planta">Planta</option>
            <option value="Fuego">Fuego</option>
            <option value="Agua">Agua</option>
            <option value="Veneno">Veneno</option>
            <option value="Bicho">Bicho</option>
        </select>
    </div>
    @Html.ValidationMessage("Tipo")

    <button class="btn btn-primary">Guardar</button>

</form>
